.DS_Store
.editorconfig
.env
.env.*
.git
.gitignore
.idea
.tmp
.vscode
!.vscode/extensions.json
*.local
*.log
coverage*
dist
dist-ssr
docker-compose*
Dockerfile*
generated
LICENSE
node_modules
out
README.md
target
tmp
