node_modules

# Build artifacts
Cargo.lock
target

# dotenv environment variables file
.env

# temporary data
tmp

.DS_Store
.vscode

# ReasonML/BuckleScript
.merlin
.graphql_ppx_cache
lib/bs
lib/js
public/javascripts/main.js
